/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html,
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

html {
	/* Standard text-settings below */
	font-size: 1em;
	line-height: 1.4em;


}

/*Colors: #1A1A1D, #4E4E50, #6F2232, #960740, #C3073F */


body {

	font-family: Courier, monospace;
	background: #1A1A1D;
	color: #E0E0E0;
}

main {
	background: #4E4E50;
	width: 700px;
	border: 7px inset #960740;
	padding: 1em;
	margin: auto;
}


div#container {
	width: 900px;
	margin: auto;
	padding: 1em;
	background: #6F2232;
	border: 5px groove #6F2232;
}

header,
footer {
	background: #4E4E50;
	text-align: center;
	font-family: Helvetica, sans-serif;
	width: 850px;
	padding: 0.75em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 5px inset #960740;
	font-size: 1.5em;

}

footer {
	font-size: 1em;
}

p {
	width: 650px;
	padding: 1em;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border: 5px groove #6F2232;
	background: #960740;
}

h3 {
	color: #E0E0E0;
	margin: auto;
	padding: 0.5em;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

a {
	color: #1A1A1D;
}

a:hover {
	color: #C3073F
}