/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
	line-height: 1.4em;
	
	
}




body {
	
	font-family: Arial, Helvetica, sans-serif;
	background: #fff200;
}


div#container {
	width: 600px;
	margin: auto;
	background: #0c13cf;
}

header{
	background: #000000;
	color: #FFFFFF;
	text-align: center;
	padding: 1em;
	font-family: Comic Sans MS, cursive, serif
}

footer{
	background: #0FFA54;
	color: #000000;
	text-align: right;
	padding: 1em;
	font-size: 0.7em;
}

p{
	padding: 20px;
}




